<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503524466422-bfnq3s331sl71nc6273iv2tfga7mcrsh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503524466422-bfnq3s331sl71nc6273iv2tfga7mcrsh</string>
	<key>API_KEY</key>
	<string>AIzaSyAcc1rG1XlCHIOLDBLkwZRpHr7PSV6Ii-w</string>
	<key>GCM_SENDER_ID</key>
	<string>503524466422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gamesroom</string>
	<key>PROJECT_ID</key>
	<string>games-room-b1b2d</string>
	<key>STORAGE_BUCKET</key>
	<string>games-room-b1b2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503524466422:ios:ea4fb22891e20a997596d7</string>
</dict>
</plist>